.navbar {
    padding-top: 0px !important;
    padding-bottom: 3px ;
    background: #f3f3f3;
    transition: all 0.3s;
  }
  .navbar a {
    color: rgb(0, 0, 0) ;
    font-family: none;
    font-style: unset;
    font-size: 20px;
    padding-bottom: 1px;
    cursor : pointer;
  }
  
  .navbar.compressed {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #85c1de;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }


.scroll{
    position: sticky !important;
    top: 0px;
}

.compressed .active{
    border-bottom: 3px solid red;
    color:#fff !important;
}

.active{
  border-bottom: 3px solid red !important;
  color:rgb(26, 24, 24) !important;
}

.nav-item{
    padding-right: 20px;
}


